.card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 360px;
    min-width: 300px;
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    padding: 20px;
}

.word {
    font-size: 50px;

}

.input_data {
    padding: 8px;
    font-size: 32px;
    border-radius: 15px;
    border: none;
    border-bottom: solid 1px;
    text-align: center;

}

.button_data {
    font-size: 25px;
    background-color: rgb(88, 129, 224);
}

.word,
.input_data,
.button_data {
    margin: 20px;
}

.next-session{
  display: none;
  width: 260px;
  background-color: rgb(76, 136, 240);
}