.card-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    width: 400px;
}

.word-card {

    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
    text-align: center;
    max-width: 400px;
    height: 270px;
    width: 90%;
}

.word-display {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.word-input {
    text-align: center;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 2rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
    outline: none;
    box-sizing: border-box;
}

.word-input:focus {
    border-color: #6c8cff;
}

.action-button {
    background-color: #6c8cff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin: 10px;
}

.action-button:hover {
    background-color: #5a76db;
}

.action-button:active {
    transform: scale(0.98);
}

.next-session-button {
    display: none;
    width: 260px;
    background-color: rgb(76, 136, 240);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.error {
    color: red;
    font-size: 20px;
    margin: 5px;
}

.spell {
    margin: 50px;
}

.user-answer,
.correct-answer {
    font-size: 30px;
    margin: 0 10px;
}

.user-answer {
    color: red;
}

.correct-answer {
    color: green;
}

#send {
    display: none;
}

.info-block {
    display: none;
}

.info-block p {
    font-size: 25px;
    margin: 0;
    padding: 0;
    color: rgb(8, 76, 110);
}

.nav-button {
    display: block;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px 20px 0 20px;
    transition: 0.5s;
}

.nav-button:hover {
    transform: scale(1.1);
}

.button-group {
    display: flex;
    margin-top: 0;
    justify-content: center;
}

.options_btn {
    background-color: #007BFF;
    margin: 5px;
    font-size: 25px;

}


@media only screen and (max-width: 750px) {
    .card-container {
        width: 370px;
    }

    .word-card {
        width: 350px;
        padding: 10px;
    }

    .options_btn {
        margin: 10px;
    }
}