.vocab-container{
    display: flex;
}

.vocab-card-test{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(181, 181, 181);
    font-size: 20px;
    
    transition: 0.5s;


    &:hover{
        transform: scale(1.1);
    }

    &:active{
        transform: scale(1.05);
    }
}

.test_link{
    display: block;
}

.img_constructor{
    height: 150px;
    width: 150px;
}

.test_img{
    height: 150px;
    width: 100px;
}

@media only screen and (max-width: 750px) {
.vocab-container{
    display: flex;
    flex-direction:column;
}

}