{% extends "base.html" %}

{% block head %}
<title>Trainer</title>
<link rel="stylesheet" href="/static/vocab_tests/tests.css">
{% endblock %}

{% block main %}

<div class="card-container">
    <h1>Constructor</h1>

    <div class="word-card">
        <div class="word-display"></div>

        <div class="info-block">
            <div class="info-text">
                <p>You learn every words</p>
                <p>You can:</p>
            </div>

            <div class="button-group">
                <a href="/learn" class="nav-button learn-button">New word</a>
                <a href="/train_list" class="nav-button test-button">Another test</a>
            </div>
        </div>

        <div class="spell">
            <input type="text" class="word-input" />
        </div>

        <button class="action-button" id="check">Check</button>
        <button class="action-button" id="send">Next</button>

        <div class="next-session">
            <button class="next-session-button">Next session</button>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}
<script type="module" src="/static/vocab_tests/constructor.js"></script>
{% endblock %}
