body{
  background-color: rgb(232, 235, 249);
  margin: 0;
  padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 241, 248);
    height: 40px;
    padding: 0 20px;

}

.menu{
    display: flex;
    justify-content: space-between;
}
.menu div{
    margin: 0 20px;
}