.title{
    text-align: center;
}

.tg-link{
    font-style:italic;
    transition:0.5s;
}

.tg-link:hover{
    color:blue;
}

.word-count{
    display: flex;
    justify-content: end;
    margin: 10px;
}

.word-count__count,
.word-count__text{
    font-size: 22px;
    margin: 0 5px;
}

.text{
    text-align: center;
    font-size:25px;
}