form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.name{
    text-align: center;
}

.input_data{
    width: 300px;
    padding: 10px;
    margin: 7px 0;
    border-radius: 5px;
    border: 1px solid;
    font-size: 20px;
}

.submit-button{
    background-color: rgb(88, 129, 224);
    margin: 10px;
}

.sign_up{
    margin: 10px 0;
    font-size: 25px;

    &:hover{
        font-size: 28px;
    }
    &:active{
        font-size: 25px;
    }
}

.container_sign_in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}