.word{
  margin: 5px 0;
  font-size: 40px;
  width: auto;
  text-align:center;
}

.info{
  height: 210px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin: 0 10px ;
}


.i_know{

  background-color: rgb(0, 192, 0);
}

.to_learn{

  background-color: rgb(255, 8, 0);
}
.next_session{
  display: flex;
  justify-content: center;
}

.next-session{
  display: none;
  width: 260px;
  background-color: rgb(76, 136, 240);
}