<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/homepage.css">
</head>

<body>
    {% include "header.html" %}

    {% if user %}
    <div class="word-count">
        <div class="word-count__text">ты уже знаешь слов:</div>
        <div class="word-count__count">{{word_count}}</div>
    </div>
    {% endif %}

    <h1 class="title">Привет, меня зовут Нурлан</h1>
    <div class="text">
        <section>
            <p>Я собрал этот простой сервис, чтобы помогать учить слова по 10 штук — методом зубрёжки.</p>
            <p>Раньше я пользовался одним сервисом, который нравился мне по удобству, но он изменился, и мне пришлось
                собрать похожий — пока что в сыром виде.</p>
        </section>
        <section>
            <h2>Идея</h2>
            <p>Задача — давать по 10 слов, чтобы тренировать словарный запас. Здесь пока ещё многое можно улучшить, но
                уже
                можно пользоваться.</p>
        </section>

        <section>
            <h2>Если у вас идеи</h2>
            <p>Если вам будет интересно или у вас появятся идеи — напишите мне.</p>
            <p>Мой телеграм: <a href="https://t.me/Nurlan_Al" target="_blank" class="tg-link">Nurlan_Al</a></p>
            <p>Моя группа в тг: @<a href="https://t.me/mr_nur_nur" target="_blank" class="tg-link">Come with me</a></p>
        </section>

    </div>

</body>

</html>