<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn word</title>
  <link rel="stylesheet" href="/static/home.css">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <main class="container">
    <h1>Lern word</h1>
    <div class="card">
      <div class="info">
        <div id="word" class="word"></div>
        <div id="trans" class="word"></div>
      </div>


      <div class="buttons">
        <button class="i_know">Уже знаю</button>
        <button class="to_learn">Надо выучить</button>

      </div>
      <div class="next_session">
        <button class="next-session">К следующей сессии</button>
      </div>



    </div>
  </main>

  <script src="/static/script.js"></script>
</body>

</html>