{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/learn.css">
{% endblock %}

{% block h1 %}<h1>Learn word</h1>{% endblock %}

{% block main %}
<div class="card">
  <div class="info">
    <div id="word" class="word"></div>
    <div id="trans" class="word"></div>
  </div>


  <div class="buttons">
    <button class="i_know">Already know</button>
    <button class="to_learn">Learn this</button>

  </div>
  <div class="next_session">
    <button class="next-session">Next session</button>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/learn.js"></script>
{% endblock %}