{% extends "base.html" %}
{% block head %}
<title>Sign In</title>
<link rel="stylesheet" href="/static/sign_in.css">
{% endblock %}

{% block h1 %}<h1 class="name">Sign in</h1>{% endblock %}
{% block card %}
<div class="container_sign_in">
    <form action="/auth/sign_in" method="post">
        <input type="text" name="login" class="input_data" placeholder="Enter your email" required>
        <input type="password" name="password" class="input_data" placeholder="Enter your password" required>
        <button type="submit" class="submit-button">Sign in</button>
    </form>
    <a href="/sign_up" class="sign_up">Sign up</a>
</div>


{% endblock %}