<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <title>Trainer</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    {% include "header.html" %}
    <main class="container">

        {% block h1 %}{% endblock %}
        <div class="card">
            {% block card %}{% endblock %}
        </div>

    </main>

    {% block script %}{% endblock %}
</body>

</html>