{% extends "auth/auth_base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/auth/auth.css">
{% endblock %}

{% block h1 %}<h1 class="name">Sign up</h1>{% endblock %}
{% block card %}
<form class="AuthForm">

    <div class="input-data-container">
        <input type="text" name="name" class="input_data" placeholder="Enter your name" required>
    </div>

    <div class="input-data-container">
        <input type="email" name="login" class="input_data" placeholder="Enter your email" required>
    </div>

    <div class="input-data-container">
        <input type="password" name="password" id='input-password' class="input_data" placeholder="Enter your password"
            required>
        <img src="/static/images/eye/hide.svg" alt="hide" class="eye-image-pass"
            onclick="hideShowSwicher(inputPassword, eyeImagePass)">
    </div>

    <div class="input-data-container">
        <input type="password" name="re_password" id="input-re-password" class="input_data"
            placeholder="Confirm your password" required>
        <img src="/static/images/eye/hide.svg" alt="hide" class="eye-image-re-pass"
            onclick="hideShowSwicher(inputRePassword, eyeImageRePass)">
    </div>


    <button type="submit" class="submit-button" onclick="return checkPasswordMatch()">Sign up</button>
    <p class="errorBox" ></p>
</form>


{% endblock %}

{% block script %}
<script src="/static/auth/sign_up.js"></script>
<script src="/static/auth/auth.js"></script>
{% endblock %}